main {
 grid-area: main;
}

.main-header {
  display: flex;
  border: 1px solid var(--border-primary);
  border-bottom: none;
  border-top: none;
  align-items: start;
  gap: 20px;
  padding: 20px 60px;
}

.tab-section {
  display: none;
}

.tab-section.active {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    ". entry-wrapper .";
}

.entry-searchbar-profile {
  width: 32px;
  border-radius: 50%;
}

.entry-input {
  font-family: "Roboto";
  border: none;
  resize: none;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-primary);
  background-color: var(--main-primary);
  width: 600px;
}

.entry-input:focus {
  outline: none;
}

.entry-grid-container {
  display: grid;
  grid-template-columns: 150px minmax(0, 1fr);
  border: solid 1px var(--border-primary)
}

.entry-info {
  display: grid;
  grid-template-rows:  100px 100px 100px;
}

.entry-info div {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.entry-profile {
  width: 75px;
  border-radius: 30%;
}

/* .entry-profile-container {
  
}

.entry-name-container {
  
}

.date-and-time-container {
  
} */


.entry-content {
  padding: 20px 0;
  height: 300px;
}

.entry-scroll {
  height: 100%;
  padding: 0 30px 0 40px;
  overflow-y: auto;
  text-wrap: wrap;
  text-indent: 1.25rem;
  line-height: 1.5rem;
  font-size: 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-primary) var(--scrollbar-outline-primary);
}

.concept-container {
  border: solid 1px var(--border-primary);
}

.concept-category {
  padding: 10px 20px 0 20px;
}

.concept-subcategory {
  /* display: none; */
}

.concept-category-title-container,
.concept-subcategory-title-container {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 6px 0;
}

.concept-subcategory-btn {
  font-family: "Roboto";
  color: var(--text-primary);
  font-size: 1.25rem;
}

.expand-btn,
.shrink-btn {
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  user-select: none;
}

.shrink-btn {
  display: none;
}

.expand-btn img,
.shrink-btn img {
  width: 100%;
  filter: invert(100%)
}

.concept-list.hidden {
  /* display: none; */
}

.concept-title-btn {
  font-family: "Karla";
  color: var(--text-underline);
  font-size: 1.15rem;
}

.concept-description {
  font-size: 1rem;
}

.concept-description.hidden {
  display: none;
}

.concept-list button:hover {
  text-decoration: underline;
}

.concept-subcategory-btn,
.concept-list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.concept-item, 
.gallery-album-list {
  list-style-type: none;
  padding: 6px 12px;
  line-height: 1.5rem;
}

.gallery-container {
  border: solid 1px var(--border-primary);
}

.gallery-container.hidden {
  display: none;
}

.gallery-category {
  padding: 10px 20px 0 20px;
}

.gallery-category-title-container {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 6px 0;
}

.gallery-album-title-btn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-family: "Roboto";
  cursor: pointer;
}

.gallery-album-title-btn {
  color: var(--text-underline)
}

.gallery-album-title-btn:hover {
  text-decoration: underline;
}

.gallery-picture-container {
  display: grid;
  border: solid 1px var(--border-primary);
  position: relative;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  row-gap: 30px;
  padding: 60px 15px 30px 15px;
  justify-content: space-around;
}

.gallery-picture-container.hidden {
  display: none;
}

.gallery-return-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: transparent;
  border: none;
  width: 30px;
  cursor: pointer;
}

.gallery-return-btn img {
  width: 100%;
  transform: scaleX(75%);
}

.gallery-add-picture-btn, 
.gallery-picture {
  border: none;
  width: 100%;
  line-height: 0;
  cursor: pointer;
}

.gallery-picture-container img {
  width: 100%;
}
